

/* Skill Div */
.Skill {
    
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgba(229, 229, 229, 0.355);
    text-align: center;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
}

.Skill:hover {
    transform: scale(1.1);
    background-color: rgba(229, 229, 229, 0.955);
    color:black;
    
}

.img {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    margin-bottom: 2px;
}

.skill span {
    text-align: center;
}

/* Over All */
.SkillStack {
    background-size: cover;
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    flex-direction: column; /* Ensure this stacks the items vertically */
    color: aliceblue;
    text-align: center;
    padding-bottom: 20px;
}

.SkillStack h1{
    font-family: 'Rethink Sans',Arial;
    font-weight: bold;
    font-size: 5vh;
}

.skillset {

    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items in the row */
    gap: 1rem; /* Simplify to 'gap' property for both row and column gaps */
    color:aliceblue;
    height: fit-content;
    text-align: center;
    width: 100%; /* Ensure it takes full width */
}

