.about {

    padding: 0;
    margin: 0%;
    display: flex;
    align-content: space-between;
    color: azure;
    width: 100%;
    height: 550px;
    background-size: cover;
    box-sizing: border-box;
}


.tracks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #23253300;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-right: 50px;
    
}

.content {
     margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 70px;
    max-width: 50%;
    flex: 0 0 45%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.495);
    border-radius: 10px;
}

.tracks-container {
    margin-left: 20px;
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.content h2 {
    margin-left: 20px;
    font-weight: bold;
    font-size: 5vh;
    font-family: 'Rethink Sans',Arial;
}

.content p {
    text-align: justify;
    margin-right: 50px;
    margin-left: 20px;
    font-size:large;
    font-family: 'WixMade',Arial;
}

.tracks-container h3 {
    margin-bottom: 25px;
    margin-right: 3rem;
    font-weight: bold;
    font-size: 3vh;
    font-family: 'Rethink Sans',Arial;
}

.track-card {
    width: 200px; 
    height: 300px; 
    margin: 0 10px; 
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease, opacity 0.5s ease;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.track-cards-wrapper .track-card {
    margin: 0;
    
}

 /* .track-card.center {
    transform: translatex(120px) translateZ(-50px);
    transform: scale(1) ;
    z-index: 7;
}


.track-card.left{
    transform: scale(0.9) translateX(-20%) translatez(-50px) ; 
    opacity: 0.7;
    
}

.track-card.right {
  
    transform: scale(0.9) translatex(-50px) translateZ(-50px) ; 
    opacity: 0.7;
  
   
} */

.track-card.hidden {
    transform: scale(0.8) ;
    opacity: 0;
    display: none;
}


.background-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
}

.background-image:hover {
    transform: scale(1.1); 
}

.text-overlay {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: rgba(0, 0, 0, 0.6);
    padding: 10% 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
}


button {
    position: absolute;
    top: 75%;
    transform: translateY(150%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius:100%;
    z-index: 3;
    transition: background 0.3s;
}

button:first-of-type {
    left: 150px; 
}

button:last-of-type {
    right: 150px; 
}

button:hover {
    background: rgba(0, 0, 0, 0.8); 
}

.arrow-pre{
    margin-left: 6px;
    margin-top: 2px;
}