

#background-video {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: -1; 
}


.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    color: white; 
    text-align: center;
    background-color:(0,0,0,0); 
    font-family: 'Arial', sans-serif; 
    margin-bottom: 0%;
}


.name {

    font-family: 'Zen Dots', sans-serif;
    font-size: 6rem; 
    font-weight: bold;
    letter-spacing: 2px; 
    margin-left: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase; 
}


h6 {
    font-family: 'Sansation Regular', sans-serif ;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem; 
    cursor: pointer; 
    transition: color 0.3s ease;
    color: aliceblue;
}

h6:hover {
    color: #f0a500; 
}


h6 svg {
    font-size: 0.8rem; 
}

a{
    text-decoration: none;
}

@media (max-width: 650px) {

    .home {
        height: 300px;
    }
    #background-video {
        height: 400px;
        width: fit-content;
    }
    .name {
        font-size: 3rem;
        margin-top: 7rem;
        margin-left: 2rem;
    }
}

@media (max-width: 480px) {
    .name {
        font-size: 2rem;
        padding-right: 5%;
    }
    .home {
        height: 200px;
    }

    .home h1{
        margin-top: 20%;
        margin-bottom: 1%;
    }
    #background-video {
       height: 300px;
       width: fit-content;
    }
   h6{
    font-size: 0.7rem;
   }
   DoubleArrowIcon{
     width: 5%;
     height: 5%;
   }
}