

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #041118d9; 
    padding: 15px 25px; 
    margin-bottom: 0%;
    padding-right: 50px;
}

header div:first-child {
    font-size: 35px; 
    font-weight: 600;
    color: white; 
}

header nav {
    display: flex;
    gap: 25px; 
}

header nav ul {
    list-style: none; 
    display: inline; 
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Rethink Sans'; 
    font-size: 18px; 
    cursor: pointer; 
    transition: color 0.3s ease-in-out; 
    letter-spacing: 1px;
    font-weight: 300;
}

header nav ul:hover {
    color: #C8E6FF;
}

body {
    margin: 0;
    font-family: Arial, sans-serif; 
}

.nav-toggle {
    display: none; 
    font-size: 24px;
    cursor: pointer;
    color: white;
    right: -200px;
}

@media (max-width: 600px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 2rem;
    } 

    .nav-toggle {
        display: block;
    }
    
    nav {
        display: none; 
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #041118d9;
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 10;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
   
    nav.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    nav ul {
        margin: 10px 0;
    }

    header nav {
        padding: 1rem;
    }
}

@media (max-width: 480px){
    header div span {
        font-size: 1.5rem;
    }
    ul{
        font-size: 0.4rem;
    }
}