
a{
    text-decoration: none;
}

.stats-container {
    
    background: rgb(2,0,36);
    background: linear-gradient(174deg, rgba(2,0,36,1) 95%, rgba(0,58,129,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100%;
    color:#ffffff;
}

.stats-header {
    font-family: 'Rethink Sans', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.stats-wrapper {
    
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    width: 100%;
    
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 200px;
    color: rgb(255, 255, 255);
    background-color: #ffffff50;
    background-repeat: no-repeat;
    background-position: center;
    background-size:200px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.stats:hover{
    transform: scale(1.1);

}

.stats-img{
            padding-top: 10px;
             width: 45px;
             height: 50px;
}


@media (max-width: 600px) {
    .stats-header {
        font-size: 1.5rem;
    }

    .stats {
        height: 100px;
        width: 150px;
    }

    .stats-img{
        width: 35px;
        height: 40px;
    }

    .stats p{
        font-size: 1rem;
    }

    .stats-container {
        height: 250px;
        
    }
     
    .stats:hover{
        transform: scale(1.0);
    
    }

}

@media (max-width: 480px) {
    .stats-header {
        font-size: 1.2rem;
    }
    .stats {
        height: 50px;
        width: 200px;
        flex-direction: row;
         gap:10%;
        align-items: center;
        
    }

    .stats-wrapper {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
    .stats p{
        font-size: small;
    }
    
    .stats-img{
        width: 30px;
        height: 30px;
        margin-left: 10%;
       margin-bottom: 10px;
    }
    
}
