

/* Skill Div */
.Skill {
    
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgba(229, 229, 229, 0.355);
    text-align: center;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
}

.Skill:hover {
    transform: scale(1.1);
    background-color: rgba(229, 229, 229, 0.955);
    color:black;
    
}

.img {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    margin-bottom: 2px;
}

.skill span {
    text-align: center;
}

/* Over All */
.SkillStack {
    background-size: cover;
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    flex-direction: column; 
    color: aliceblue;
    text-align: center;
    padding-bottom: 20px;
}

.SkillStack h1{
    font-family: 'Rethink Sans',Arial;
    font-weight: bold;
    font-size: 5vh;
}

.skillset {

    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 1rem; 
    color:aliceblue;
    height: fit-content;
    text-align: center;
    width: 100%; 
}


@media (max-width: 600px) {
    
    .SkillStack {
        padding-left: 20px; 
        padding-right: 20px;
        padding-bottom: 10px; 
    }

    .SkillStack h1 {
        font-size: 3vh;
    }

    
    .Skill {
        width: 100px; 
        height: 70px; 
        gap: 5px; 
        border-radius: 10px; 
    }

    .Skill:hover {
        transform: scale(1.0); 
    }

    .img {
        width: 30px; 
        height: 30px;
    }

    
    .skillset {
        gap: 0.5rem; 
        padding: 0; 
        flex-wrap: wrap; 
    }
}

@media (max-width: 480px) {
    
    .img {
        width: 20px; 
        height: 20px;
    }

    .Skill {
        width: 70px; 
        height: 60px; 
        gap: 5px; 
        border-radius: 10px; 
    }
    span {
        font-size: 11px;
    }
}